$primary: #60b0f4;
$primary-dark: $primary / 1.2;
$primary-darker: $primary / 1.5;

@keyframes audio-wave {
  0% {height:5px;transform:translateY(0px);background: white;}
  25% {height:3.5rem;transform:translateY(1.75rem);background:white;}
/*effect is to animate the height of each span from 5px to 30px*/
/*translateY makes Y axis move down to give the effect that it is growing from the center*/
  50% {height:5px;transform:translateY(0px);background:white;}
  100% {height:5px;transform:translateY(0px);background: white;}
}
